



@media (max-width:600px){

.about{
text-align:center;
margin-top:30px;
font-size:28px;
}

.about-border{
border:2px solid rgb(98,92,92);
border-radius:10px;
padding:20px;
margin:20px;
}

.about-title{
text-align:center;
color:rgb(121,53,116);
font-size:18px;
margin-bottom:10px;
}

.about-content{
font-size:15px;
line-height:1.8;
}

.about-slogan{
color:rgb(121,53,116);
text-align:center;
font-size:16px;
line-height:1.8;
}
.home1-top{
    margin-left: 115px;
}
}








@media (min-width: 601px) and (max-width:768px){

.about{
text-align:center;
margin-top:30px;
font-size:28px;
}

.about-border{
border:2px solid rgb(98,92,92);
border-radius:10px;
padding:20px;
margin:20px;
}

.about-title{
text-align:center;
color:rgb(121,53,116);
font-size:18px;
margin-bottom:10px;
}

.about-content{
font-size:15px;
line-height:1.8;
}

.about-slogan{
color:rgb(121,53,116);
text-align:center;
font-size:16px;
line-height:1.8;
}
.home1-top{
    margin-left: 330px;
}
}









@media (min-width: 769px) and (max-width:1440px){

.about{
text-align:center;
margin-top:30px;
font-size:28px;
}

.about-border{
border:2px solid rgb(98,92,92);
border-radius:10px;
padding:20px;
margin:20px;
}

.about-title{
text-align:center;
color:rgb(121,53,116);
font-size:18px;
margin-bottom:10px;
}

.about-content{
font-size:15px;
line-height:1.8;
}

.about-slogan{
color:rgb(121,53,116);
text-align:center;
font-size:16px;
line-height:1.8;
}
.home1-top{
    margin-left: 580px;
}
}