@media (max-width: 600px){

.section-title{
text-align:center;
margin:40px 0 30px;
font-size:26px;
font-weight:600;
color:#333;
}

.grid{
display:grid;
grid-template-columns:1fr !important;
gap:20px;
padding:0 15px 40px;
}


.home1-top{
    /* position: absolute; */
margin-top:-30px;
/* margin-left:360px; */
border-radius:8px;
cursor:pointer;
background-color: rgb(91, 91, 203);
border: none;
height: 30px;
width: 100px;
}

.home1-top:hover{
    color: white;
}
}















@media (min-width: 601px) and (max-width:768px){



.section-title{
text-align:center;
margin:40px 0 30px;
font-size:26px;
font-weight:600;
color:#333;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr) !important;
gap:25px;
padding:0 60px 60px;
}

.home1-top{
    position: absolute;
margin-top:-30px;
margin-left:360px;
border-radius:8px;
cursor:pointer;
background-color: rgb(91, 91, 203);
border: none;
height: 30px;
width: 100px;
}

.home1-top:hover{
    color: white;
}
}








@media (min-width: 769px) and (max-width:1440px){

    .section-title{
text-align:center;
margin:40px 0 30px;
font-size:26px;
font-weight:600;
color:#333;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:0 60px 60px;
}

.home1-top{
    position: absolute;
margin-top:-30px;
margin-left:570px;
border-radius:8px;
cursor:pointer;
background-color: rgb(91, 91, 203);
border: none;
height: 30px;
width: 100px;
}

.home1-top:hover{
    color: white;
}
}