

@media (max-width: 600px){
.search-title {
    text-align: center;
    margin: 30px;
}

.no-products {
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
    color: #555;
}

}



@media (min-width: 601px) and (max-width:768px){
.search-title {
    text-align: center;
    margin: 30px;
}

.no-products {
    text-align: center;
    /* justify-content: center; */
    margin-top: 0px;
    font-size: 22px;
    color: #555;
    /* margin-left: 250px; */
}

}




@media (min-width: 769px) and (max-width:1440px){
.search-title {
    text-align: center;
    margin: 30px;
}

.no-products {
    text-align: center;
    /* justify-content: center; */
    margin-top: 0px;
    font-size: 22px;
    color: #555;
    margin-left: 250px;
}

}